# Lecture 5-3

## Polars

## Week 5 Friday

## Miles Chen, PhD

[https://pola.rs/](https://pola.rs/)

# Why Polars?

Polars is built for speed.

Polars can use lazy execution. The optimizer looks at the entire query and builds an optimized plan for processing it.

## Stick to Pandas for:

- Small/interactive analysis: For quick data exploration and when high performance doesn't matter, pandas is perfectly fine.
- Plotting & convenience: Many plotting libs integrate directly with pandas; Polars usually hands off to pandas or converts to arrays for plotting


## 0) Setup

> If Polars isn't installed yet, run this in the terminal:
```bash
pip install polars
```

In [1]:
import polars as pl
pl.__version__

'1.5.0'


## 1) Load the Titanic dataset

* survived: 0 = No, 1 = Yes
* pclass: Ticket class: 1 = 1st, 2 = 2nd, 3 = 3rd
* sibsp: number of siblings and/or spouses aboard
* parch: number of parents and/or children aboard
* ticket: ticket number
* cabin: cabin number
* embarked: port of embarkation: C = Cherbourg, Q = Queenstown, S = Southampton

In [2]:
# Read in the data eagerly (materializes immediately)
titanic = pl.read_csv("titanic.csv")

titanic

shape: (891, 12)
┌─────────────┬──────────┬────────┬──────────────────┬───┬────────────┬─────────┬───────┬──────────┐
│ passengerid ┆ survived ┆ pclass ┆ name             ┆ … ┆ ticket     ┆ fare    ┆ cabin ┆ embarked │
│ ---         ┆ ---      ┆ ---    ┆ ---              ┆   ┆ ---        ┆ ---     ┆ ---   ┆ ---      │
│ i64         ┆ i64      ┆ i64    ┆ str              ┆   ┆ str        ┆ f64     ┆ str   ┆ str      │
╞═════════════╪══════════╪════════╪══════════════════╪═══╪════════════╪═════════╪═══════╪══════════╡
│ 1           ┆ 0        ┆ 3      ┆ Braund, Mr. Owen ┆ … ┆ A/5 21171  ┆ 7.25    ┆ null  ┆ S        │
│             ┆          ┆        ┆ Harris           ┆   ┆            ┆         ┆       ┆          │
│ 2           ┆ 1        ┆ 1      ┆ Cumings, Mrs.    ┆ … ┆ PC 17599   ┆ 71.2833 ┆ C85   ┆ C        │
│             ┆          ┆        ┆ John Bradley     ┆   ┆            ┆         ┆       ┆          │
│             ┆          ┆        ┆ (Fl…             ┆   ┆            ┆         ┆       ┆          │
│ 3           ┆ 1        ┆ 3      ┆ Heikkinen, Miss. ┆ … ┆ STON/O2.   ┆ 7.925   ┆ null  ┆ S        │
│             ┆          ┆        ┆ Laina            ┆   ┆ 3101282    ┆         ┆       ┆          │
│ 4           ┆ 1        ┆ 1      ┆ Futrelle, Mrs.   ┆ … ┆ 113803     ┆ 53.1    ┆ C123  ┆ S        │
│             ┆          ┆        ┆ Jacques Heath (… ┆   ┆            ┆         ┆       ┆          │
│ 5           ┆ 0        ┆ 3      ┆ Allen, Mr.       ┆ … ┆ 373450     ┆ 8.05    ┆ null  ┆ S        │
│             ┆          ┆        ┆ William Henry    ┆   ┆            ┆         ┆       ┆          │
│ …           ┆ …        ┆ …      ┆ …                ┆ … ┆ …          ┆ …       ┆ …     ┆ …        │
│ 887         ┆ 0        ┆ 2      ┆ Montvila, Rev.   ┆ … ┆ 211536     ┆ 13.0    ┆ null  ┆ S        │
│             ┆          ┆        ┆ Juozas           ┆   ┆            ┆         ┆       ┆          │
│ 888         ┆ 1        ┆ 1      ┆ Graham, Miss.    ┆ … ┆ 112053     ┆ 30.0    ┆ B42   ┆ S        │
│             ┆          ┆        ┆ Margaret Edith   ┆   ┆            ┆         ┆       ┆          │
│ 889         ┆ 0        ┆ 3      ┆ Johnston, Miss.  ┆ … ┆ W./C. 6607 ┆ 23.45   ┆ null  ┆ S        │
│             ┆          ┆        ┆ Catherine Hele…  ┆   ┆            ┆         ┆       ┆          │
│ 890         ┆ 1        ┆ 1      ┆ Behr, Mr. Karl   ┆ … ┆ 111369     ┆ 30.0    ┆ C148  ┆ C        │
│             ┆          ┆        ┆ Howell           ┆   ┆            ┆         ┆       ┆          │
│ 891         ┆ 0        ┆ 3      ┆ Dooley, Mr.      ┆ … ┆ 370376     ┆ 7.75    ┆ null  ┆ Q        │
│             ┆          ┆        ┆ Patrick          ┆   ┆            ┆         ┆       ┆          │
└─────────────┴──────────┴────────┴──────────────────┴───┴────────────┴─────────┴───────┴──────────┘

## 2) Eager vs. Lazy

- **Eager** executes now and returns results.
- **Lazy** builds a plan (`LazyFrame`) and executes at `.collect()`, enabling optimizations.

The recommended method is to use lazy API. Polars will look at the entire query and optimize it before running. The lazy API allows you to work with datasets that are larger than your computer's memory.

To use the lazy API, use `pl.scan_csv()` instead of `pl.read_csv()`

We'll come back to this topic later, *after* we have introduced operational features in Polars.


## 3) Select and Rename

Select columns (also called series) using `name_of_dataframe.select("column_name")`

Multiple columns can be selected by passing a list of column names.

Columns or series can be renamed using `pl.col("current_name").alias("new_name")`

If you ever want to use attributes or methods for a column, you must use `pl.col("column_name")` and not just the string name.

In [3]:
titanic.select([
    "survived",
    pl.col("pclass").alias("passenger_class"),
    "sex",
    "age",
    pl.col("fare").alias("fare_gbp")
])

shape: (891, 5)
┌──────────┬─────────────────┬────────┬──────┬──────────┐
│ survived ┆ passenger_class ┆ sex    ┆ age  ┆ fare_gbp │
│ ---      ┆ ---             ┆ ---    ┆ ---  ┆ ---      │
│ i64      ┆ i64             ┆ str    ┆ f64  ┆ f64      │
╞══════════╪═════════════════╪════════╪══════╪══════════╡
│ 0        ┆ 3               ┆ male   ┆ 22.0 ┆ 7.25     │
│ 1        ┆ 1               ┆ female ┆ 38.0 ┆ 71.2833  │
│ 1        ┆ 3               ┆ female ┆ 26.0 ┆ 7.925    │
│ 1        ┆ 1               ┆ female ┆ 35.0 ┆ 53.1     │
│ 0        ┆ 3               ┆ male   ┆ 35.0 ┆ 8.05     │
│ …        ┆ …               ┆ …      ┆ …    ┆ …        │
│ 0        ┆ 2               ┆ male   ┆ 27.0 ┆ 13.0     │
│ 1        ┆ 1               ┆ female ┆ 19.0 ┆ 30.0     │
│ 0        ┆ 3               ┆ female ┆ null ┆ 23.45    │
│ 1        ┆ 1               ┆ male   ┆ 26.0 ┆ 30.0     │
│ 0        ┆ 3               ┆ male   ┆ 32.0 ┆ 7.75     │
└──────────┴─────────────────┴────────┴──────┴──────────┘


## 4) Filter rows and Sort rows

In [4]:
# Example: females in 1st/2nd class, sorted by fare descending
titanic.filter(
    (pl.col("sex") == "female") & (pl.col("pclass") <= 2)
).sort("fare", descending=True)

shape: (170, 12)
┌──────────────┬──────────┬────────┬─────────────┬───┬─────────────┬──────────┬─────────┬──────────┐
│ passengerid  ┆ survived ┆ pclass ┆ name        ┆ … ┆ ticket      ┆ fare     ┆ cabin   ┆ embarked │
│ ---          ┆ ---      ┆ ---    ┆ ---         ┆   ┆ ---         ┆ ---      ┆ ---     ┆ ---      │
│ i64          ┆ i64      ┆ i64    ┆ str         ┆   ┆ str         ┆ f64      ┆ str     ┆ str      │
╞══════════════╪══════════╪════════╪═════════════╪═══╪═════════════╪══════════╪═════════╪══════════╡
│ 259          ┆ 1        ┆ 1      ┆ Ward, Miss. ┆ … ┆ PC 17755    ┆ 512.3292 ┆ null    ┆ C        │
│              ┆          ┆        ┆ Anna        ┆   ┆             ┆          ┆         ┆          │
│ 89           ┆ 1        ┆ 1      ┆ Fortune,    ┆ … ┆ 19950       ┆ 263.0    ┆ C23 C25 ┆ S        │
│              ┆          ┆        ┆ Miss. Mabel ┆   ┆             ┆          ┆ C27     ┆          │
│              ┆          ┆        ┆ Helen       ┆   ┆             ┆          ┆         ┆          │
│ 342          ┆ 1        ┆ 1      ┆ Fortune,    ┆ … ┆ 19950       ┆ 263.0    ┆ C23 C25 ┆ S        │
│              ┆          ┆        ┆ Miss. Alice ┆   ┆             ┆          ┆ C27     ┆          │
│              ┆          ┆        ┆ Elizabeth   ┆   ┆             ┆          ┆         ┆          │
│ 312          ┆ 1        ┆ 1      ┆ Ryerson,    ┆ … ┆ PC 17608    ┆ 262.375  ┆ B57 B59 ┆ C        │
│              ┆          ┆        ┆ Miss. Emily ┆   ┆             ┆          ┆ B63 B66 ┆          │
│              ┆          ┆        ┆ Borie       ┆   ┆             ┆          ┆         ┆          │
│ 743          ┆ 1        ┆ 1      ┆ Ryerson,    ┆ … ┆ PC 17608    ┆ 262.375  ┆ B57 B59 ┆ C        │
│              ┆          ┆        ┆ Miss. Susan ┆   ┆             ┆          ┆ B63 B66 ┆          │
│              ┆          ┆        ┆ Parker "S…  ┆   ┆             ┆          ┆         ┆          │
│ …            ┆ …        ┆ …      ┆ …           ┆ … ┆ …           ┆ …        ┆ …       ┆ …        │
│ 459          ┆ 1        ┆ 2      ┆ Toomey,     ┆ … ┆ F.C.C.      ┆ 10.5     ┆ null    ┆ S        │
│              ┆          ┆        ┆ Miss. Ellen ┆   ┆ 13531       ┆          ┆         ┆          │
│ 517          ┆ 1        ┆ 2      ┆ Lemore,     ┆ … ┆ C.A. 34260  ┆ 10.5     ┆ F33     ┆ S        │
│              ┆          ┆        ┆ Mrs.        ┆   ┆             ┆          ┆         ┆          │
│              ┆          ┆        ┆ (Amelia     ┆   ┆             ┆          ┆         ┆          │
│              ┆          ┆        ┆ Milley)     ┆   ┆             ┆          ┆         ┆          │
│ 527          ┆ 1        ┆ 2      ┆ Ridsdale,   ┆ … ┆ W./C. 14258 ┆ 10.5     ┆ null    ┆ S        │
│              ┆          ┆        ┆ Miss. Lucy  ┆   ┆             ┆          ┆         ┆          │
│ 718          ┆ 1        ┆ 2      ┆ Troutt,     ┆ … ┆ 34218       ┆ 10.5     ┆ E101    ┆ S        │
│              ┆          ┆        ┆ Miss.       ┆   ┆             ┆          ┆         ┆          │
│              ┆          ┆        ┆ Edwina      ┆   ┆             ┆          ┆         ┆          │
│              ┆          ┆        ┆ Celia "Wi…  ┆   ┆             ┆          ┆         ┆          │
│ 773          ┆ 0        ┆ 2      ┆ Mack, Mrs.  ┆ … ┆ S.O./P.P. 3 ┆ 10.5     ┆ E77     ┆ S        │
│              ┆          ┆        ┆ (Mary)      ┆   ┆             ┆          ┆         ┆          │
└──────────────┴──────────┴────────┴─────────────┴───┴─────────────┴──────────┴─────────┴──────────┘


## 5) `with_columns()` to create new columns using Expressions

`dataframe_name.with_columns()` will add columns to the data frame.

Provide a list of newly defined columns using expressions.

Name the columns with `.alias()`

One of the example expressions below is a `when-then-otherwise`

Learn more at: https://docs.pola.rs/api/python/stable/reference/expressions/api/polars.when.html

we use `.lit()` to return a literal value, otherwise, Polars will look for a column called "adult" or a column called "child"

In [5]:
titanic_augmented = titanic.with_columns([
    (pl.col("sibsp") + pl.col("parch")).alias("family_size"),
    pl.when(pl.col("age") >= 18)
      .then(pl.lit("adult"))
      .otherwise(pl.lit("child"))
      .alias("age_group")
])
titanic_augmented

shape: (891, 14)
┌─────────────┬──────────┬────────┬───────────────┬───┬───────┬──────────┬─────────────┬───────────┐
│ passengerid ┆ survived ┆ pclass ┆ name          ┆ … ┆ cabin ┆ embarked ┆ family_size ┆ age_group │
│ ---         ┆ ---      ┆ ---    ┆ ---           ┆   ┆ ---   ┆ ---      ┆ ---         ┆ ---       │
│ i64         ┆ i64      ┆ i64    ┆ str           ┆   ┆ str   ┆ str      ┆ i64         ┆ str       │
╞═════════════╪══════════╪════════╪═══════════════╪═══╪═══════╪══════════╪═════════════╪═══════════╡
│ 1           ┆ 0        ┆ 3      ┆ Braund, Mr.   ┆ … ┆ null  ┆ S        ┆ 1           ┆ adult     │
│             ┆          ┆        ┆ Owen Harris   ┆   ┆       ┆          ┆             ┆           │
│ 2           ┆ 1        ┆ 1      ┆ Cumings, Mrs. ┆ … ┆ C85   ┆ C        ┆ 1           ┆ adult     │
│             ┆          ┆        ┆ John Bradley  ┆   ┆       ┆          ┆             ┆           │
│             ┆          ┆        ┆ (Fl…          ┆   ┆       ┆          ┆             ┆           │
│ 3           ┆ 1        ┆ 3      ┆ Heikkinen,    ┆ … ┆ null  ┆ S        ┆ 0           ┆ adult     │
│             ┆          ┆        ┆ Miss. Laina   ┆   ┆       ┆          ┆             ┆           │
│ 4           ┆ 1        ┆ 1      ┆ Futrelle,     ┆ … ┆ C123  ┆ S        ┆ 1           ┆ adult     │
│             ┆          ┆        ┆ Mrs. Jacques  ┆   ┆       ┆          ┆             ┆           │
│             ┆          ┆        ┆ Heath (…      ┆   ┆       ┆          ┆             ┆           │
│ 5           ┆ 0        ┆ 3      ┆ Allen, Mr.    ┆ … ┆ null  ┆ S        ┆ 0           ┆ adult     │
│             ┆          ┆        ┆ William Henry ┆   ┆       ┆          ┆             ┆           │
│ …           ┆ …        ┆ …      ┆ …             ┆ … ┆ …     ┆ …        ┆ …           ┆ …         │
│ 887         ┆ 0        ┆ 2      ┆ Montvila,     ┆ … ┆ null  ┆ S        ┆ 0           ┆ adult     │
│             ┆          ┆        ┆ Rev. Juozas   ┆   ┆       ┆          ┆             ┆           │
│ 888         ┆ 1        ┆ 1      ┆ Graham, Miss. ┆ … ┆ B42   ┆ S        ┆ 0           ┆ adult     │
│             ┆          ┆        ┆ Margaret      ┆   ┆       ┆          ┆             ┆           │
│             ┆          ┆        ┆ Edith         ┆   ┆       ┆          ┆             ┆           │
│ 889         ┆ 0        ┆ 3      ┆ Johnston,     ┆ … ┆ null  ┆ S        ┆ 3           ┆ child     │
│             ┆          ┆        ┆ Miss.         ┆   ┆       ┆          ┆             ┆           │
│             ┆          ┆        ┆ Catherine     ┆   ┆       ┆          ┆             ┆           │
│             ┆          ┆        ┆ Hele…         ┆   ┆       ┆          ┆             ┆           │
│ 890         ┆ 1        ┆ 1      ┆ Behr, Mr.     ┆ … ┆ C148  ┆ C        ┆ 0           ┆ adult     │
│             ┆          ┆        ┆ Karl Howell   ┆   ┆       ┆          ┆             ┆           │
│ 891         ┆ 0        ┆ 3      ┆ Dooley, Mr.   ┆ … ┆ null  ┆ Q        ┆ 0           ┆ adult     │
│             ┆          ┆        ┆ Patrick       ┆   ┆       ┆          ┆             ┆           │
└─────────────┴──────────┴────────┴───────────────┴───┴───────┴──────────┴─────────────┴───────────┘

### Window Expressions

`.over()` will compute an expression over given groups.

See the example below where mean is calculated for all passengers, and then calculated for each passenger class

In [6]:
titanic.with_columns(
    pl.col("fare").mean().alias("mean_fare"),
    pl.col("fare").mean().over("pclass").alias("mean_fare_by_pclass")
)

shape: (891, 14)
┌─────────────┬──────────┬────────┬──────────────┬───┬───────┬──────────┬───────────┬──────────────┐
│ passengerid ┆ survived ┆ pclass ┆ name         ┆ … ┆ cabin ┆ embarked ┆ mean_fare ┆ mean_fare_by │
│ ---         ┆ ---      ┆ ---    ┆ ---          ┆   ┆ ---   ┆ ---      ┆ ---       ┆ _pclass      │
│ i64         ┆ i64      ┆ i64    ┆ str          ┆   ┆ str   ┆ str      ┆ f64       ┆ ---          │
│             ┆          ┆        ┆              ┆   ┆       ┆          ┆           ┆ f64          │
╞═════════════╪══════════╪════════╪══════════════╪═══╪═══════╪══════════╪═══════════╪══════════════╡
│ 1           ┆ 0        ┆ 3      ┆ Braund, Mr.  ┆ … ┆ null  ┆ S        ┆ 32.204208 ┆ 13.67555     │
│             ┆          ┆        ┆ Owen Harris  ┆   ┆       ┆          ┆           ┆              │
│ 2           ┆ 1        ┆ 1      ┆ Cumings,     ┆ … ┆ C85   ┆ C        ┆ 32.204208 ┆ 84.154687    │
│             ┆          ┆        ┆ Mrs. John    ┆   ┆       ┆          ┆           ┆              │
│             ┆          ┆        ┆ Bradley (Fl… ┆   ┆       ┆          ┆           ┆              │
│ 3           ┆ 1        ┆ 3      ┆ Heikkinen,   ┆ … ┆ null  ┆ S        ┆ 32.204208 ┆ 13.67555     │
│             ┆          ┆        ┆ Miss. Laina  ┆   ┆       ┆          ┆           ┆              │
│ 4           ┆ 1        ┆ 1      ┆ Futrelle,    ┆ … ┆ C123  ┆ S        ┆ 32.204208 ┆ 84.154687    │
│             ┆          ┆        ┆ Mrs. Jacques ┆   ┆       ┆          ┆           ┆              │
│             ┆          ┆        ┆ Heath (…     ┆   ┆       ┆          ┆           ┆              │
│ 5           ┆ 0        ┆ 3      ┆ Allen, Mr.   ┆ … ┆ null  ┆ S        ┆ 32.204208 ┆ 13.67555     │
│             ┆          ┆        ┆ William      ┆   ┆       ┆          ┆           ┆              │
│             ┆          ┆        ┆ Henry        ┆   ┆       ┆          ┆           ┆              │
│ …           ┆ …        ┆ …      ┆ …            ┆ … ┆ …     ┆ …        ┆ …         ┆ …            │
│ 887         ┆ 0        ┆ 2      ┆ Montvila,    ┆ … ┆ null  ┆ S        ┆ 32.204208 ┆ 20.662183    │
│             ┆          ┆        ┆ Rev. Juozas  ┆   ┆       ┆          ┆           ┆              │
│ 888         ┆ 1        ┆ 1      ┆ Graham,      ┆ … ┆ B42   ┆ S        ┆ 32.204208 ┆ 84.154687    │
│             ┆          ┆        ┆ Miss.        ┆   ┆       ┆          ┆           ┆              │
│             ┆          ┆        ┆ Margaret     ┆   ┆       ┆          ┆           ┆              │
│             ┆          ┆        ┆ Edith        ┆   ┆       ┆          ┆           ┆              │
│ 889         ┆ 0        ┆ 3      ┆ Johnston,    ┆ … ┆ null  ┆ S        ┆ 32.204208 ┆ 13.67555     │
│             ┆          ┆        ┆ Miss.        ┆   ┆       ┆          ┆           ┆              │
│             ┆          ┆        ┆ Catherine    ┆   ┆       ┆          ┆           ┆              │
│             ┆          ┆        ┆ Hele…        ┆   ┆       ┆          ┆           ┆              │
│ 890         ┆ 1        ┆ 1      ┆ Behr, Mr.    ┆ … ┆ C148  ┆ C        ┆ 32.204208 ┆ 84.154687    │
│             ┆          ┆        ┆ Karl Howell  ┆   ┆       ┆          ┆           ┆              │
│ 891         ┆ 0        ┆ 3      ┆ Dooley, Mr.  ┆ … ┆ null  ┆ Q        ┆ 32.204208 ┆ 13.67555     │
│             ┆          ┆        ┆ Patrick      ┆   ┆       ┆          ┆           ┆              │
└─────────────┴──────────┴────────┴──────────────┴───┴───────┴──────────┴───────────┴──────────────┘


## 6) Handling Missing Data

Use `is_null`, `is_not_null` to identify missing values.

Use `fill_null` to fill missing values. This can be paired with `.over()` to fill with averages calculated for groups.

In [7]:
# Identify missing ages
missing_age = titanic.select([
    "passengerid",
    "age",
    pl.col("age").is_null().alias("age_is_missing")
])
missing_age

shape: (891, 3)
┌─────────────┬──────┬────────────────┐
│ passengerid ┆ age  ┆ age_is_missing │
│ ---         ┆ ---  ┆ ---            │
│ i64         ┆ f64  ┆ bool           │
╞═════════════╪══════╪════════════════╡
│ 1           ┆ 22.0 ┆ false          │
│ 2           ┆ 38.0 ┆ false          │
│ 3           ┆ 26.0 ┆ false          │
│ 4           ┆ 35.0 ┆ false          │
│ 5           ┆ 35.0 ┆ false          │
│ …           ┆ …    ┆ …              │
│ 887         ┆ 27.0 ┆ false          │
│ 888         ┆ 19.0 ┆ false          │
│ 889         ┆ null ┆ true           │
│ 890         ┆ 26.0 ┆ false          │
│ 891         ┆ 32.0 ┆ false          │
└─────────────┴──────┴────────────────┘

In [8]:
# Example: fill missing age with class/sex mean
filled_age = titanic.with_columns(
    pl.col("age").fill_null(
        pl.col("age").mean().over(["pclass","sex"])
    ).alias("age_filled")
)
filled_age

shape: (891, 13)
┌─────────────┬──────────┬────────┬──────────────────┬───┬─────────┬───────┬──────────┬────────────┐
│ passengerid ┆ survived ┆ pclass ┆ name             ┆ … ┆ fare    ┆ cabin ┆ embarked ┆ age_filled │
│ ---         ┆ ---      ┆ ---    ┆ ---              ┆   ┆ ---     ┆ ---   ┆ ---      ┆ ---        │
│ i64         ┆ i64      ┆ i64    ┆ str              ┆   ┆ f64     ┆ str   ┆ str      ┆ f64        │
╞═════════════╪══════════╪════════╪══════════════════╪═══╪═════════╪═══════╪══════════╪════════════╡
│ 1           ┆ 0        ┆ 3      ┆ Braund, Mr. Owen ┆ … ┆ 7.25    ┆ null  ┆ S        ┆ 22.0       │
│             ┆          ┆        ┆ Harris           ┆   ┆         ┆       ┆          ┆            │
│ 2           ┆ 1        ┆ 1      ┆ Cumings, Mrs.    ┆ … ┆ 71.2833 ┆ C85   ┆ C        ┆ 38.0       │
│             ┆          ┆        ┆ John Bradley     ┆   ┆         ┆       ┆          ┆            │
│             ┆          ┆        ┆ (Fl…             ┆   ┆         ┆       ┆          ┆            │
│ 3           ┆ 1        ┆ 3      ┆ Heikkinen, Miss. ┆ … ┆ 7.925   ┆ null  ┆ S        ┆ 26.0       │
│             ┆          ┆        ┆ Laina            ┆   ┆         ┆       ┆          ┆            │
│ 4           ┆ 1        ┆ 1      ┆ Futrelle, Mrs.   ┆ … ┆ 53.1    ┆ C123  ┆ S        ┆ 35.0       │
│             ┆          ┆        ┆ Jacques Heath (… ┆   ┆         ┆       ┆          ┆            │
│ 5           ┆ 0        ┆ 3      ┆ Allen, Mr.       ┆ … ┆ 8.05    ┆ null  ┆ S        ┆ 35.0       │
│             ┆          ┆        ┆ William Henry    ┆   ┆         ┆       ┆          ┆            │
│ …           ┆ …        ┆ …      ┆ …                ┆ … ┆ …       ┆ …     ┆ …        ┆ …          │
│ 887         ┆ 0        ┆ 2      ┆ Montvila, Rev.   ┆ … ┆ 13.0    ┆ null  ┆ S        ┆ 27.0       │
│             ┆          ┆        ┆ Juozas           ┆   ┆         ┆       ┆          ┆            │
│ 888         ┆ 1        ┆ 1      ┆ Graham, Miss.    ┆ … ┆ 30.0    ┆ B42   ┆ S        ┆ 19.0       │
│             ┆          ┆        ┆ Margaret Edith   ┆   ┆         ┆       ┆          ┆            │
│ 889         ┆ 0        ┆ 3      ┆ Johnston, Miss.  ┆ … ┆ 23.45   ┆ null  ┆ S        ┆ 21.75      │
│             ┆          ┆        ┆ Catherine Hele…  ┆   ┆         ┆       ┆          ┆            │
│ 890         ┆ 1        ┆ 1      ┆ Behr, Mr. Karl   ┆ … ┆ 30.0    ┆ C148  ┆ C        ┆ 26.0       │
│             ┆          ┆        ┆ Howell           ┆   ┆         ┆       ┆          ┆            │
│ 891         ┆ 0        ┆ 3      ┆ Dooley, Mr.      ┆ … ┆ 7.75    ┆ null  ┆ Q        ┆ 32.0       │
│             ┆          ┆        ┆ Patrick          ┆   ┆         ┆       ┆          ┆            │
└─────────────┴──────────┴────────┴──────────────────┴───┴─────────┴───────┴──────────┴────────────┘


## 7) Grouped Aggregations

Use `.group_by()` to create groups. Then us `.agg()` to specify expressions for aggregate (summary) values.

In [9]:
titanic.group_by(["pclass","sex"]).agg([
    pl.col("survived").mean().alias("survival_rate"),
    pl.col("fare").mean().alias("avg_fare"),
    pl.col("age").mean().alias("avg_age"),
    pl.len().alias("n")
]).sort(["pclass","sex"])

shape: (6, 6)
┌────────┬────────┬───────────────┬────────────┬───────────┬─────┐
│ pclass ┆ sex    ┆ survival_rate ┆ avg_fare   ┆ avg_age   ┆ n   │
│ ---    ┆ ---    ┆ ---           ┆ ---        ┆ ---       ┆ --- │
│ i64    ┆ str    ┆ f64           ┆ f64        ┆ f64       ┆ u32 │
╞════════╪════════╪═══════════════╪════════════╪═══════════╪═════╡
│ 1      ┆ female ┆ 0.968085      ┆ 106.125798 ┆ 34.611765 ┆ 94  │
│ 1      ┆ male   ┆ 0.368852      ┆ 67.226127  ┆ 41.281386 ┆ 122 │
│ 2      ┆ female ┆ 0.921053      ┆ 21.970121  ┆ 28.722973 ┆ 76  │
│ 2      ┆ male   ┆ 0.157407      ┆ 19.741782  ┆ 30.740707 ┆ 108 │
│ 3      ┆ female ┆ 0.5           ┆ 16.11881   ┆ 21.75     ┆ 144 │
│ 3      ┆ male   ┆ 0.135447      ┆ 12.661633  ┆ 26.507589 ┆ 347 │
└────────┴────────┴───────────────┴────────────┴───────────┴─────┘


## 8) Joins

You can join your data with another table.

Here we map `embarked` codes to city names.

https://docs.pola.rs/api/python/stable/reference/dataframe/api/polars.DataFrame.join.html

In [10]:
ports = pl.DataFrame({
    "embarked": ["C","Q","S"],
    "port_name": ["Cherbourg","Queenstown","Southampton"]
})

joined = titanic.join(ports, on="embarked", how="left")
joined

shape: (891, 13)
┌─────────────┬──────────┬────────┬─────────────────┬───┬─────────┬───────┬──────────┬─────────────┐
│ passengerid ┆ survived ┆ pclass ┆ name            ┆ … ┆ fare    ┆ cabin ┆ embarked ┆ port_name   │
│ ---         ┆ ---      ┆ ---    ┆ ---             ┆   ┆ ---     ┆ ---   ┆ ---      ┆ ---         │
│ i64         ┆ i64      ┆ i64    ┆ str             ┆   ┆ f64     ┆ str   ┆ str      ┆ str         │
╞═════════════╪══════════╪════════╪═════════════════╪═══╪═════════╪═══════╪══════════╪═════════════╡
│ 1           ┆ 0        ┆ 3      ┆ Braund, Mr.     ┆ … ┆ 7.25    ┆ null  ┆ S        ┆ Southampton │
│             ┆          ┆        ┆ Owen Harris     ┆   ┆         ┆       ┆          ┆             │
│ 2           ┆ 1        ┆ 1      ┆ Cumings, Mrs.   ┆ … ┆ 71.2833 ┆ C85   ┆ C        ┆ Cherbourg   │
│             ┆          ┆        ┆ John Bradley    ┆   ┆         ┆       ┆          ┆             │
│             ┆          ┆        ┆ (Fl…            ┆   ┆         ┆       ┆          ┆             │
│ 3           ┆ 1        ┆ 3      ┆ Heikkinen,      ┆ … ┆ 7.925   ┆ null  ┆ S        ┆ Southampton │
│             ┆          ┆        ┆ Miss. Laina     ┆   ┆         ┆       ┆          ┆             │
│ 4           ┆ 1        ┆ 1      ┆ Futrelle, Mrs.  ┆ … ┆ 53.1    ┆ C123  ┆ S        ┆ Southampton │
│             ┆          ┆        ┆ Jacques Heath   ┆   ┆         ┆       ┆          ┆             │
│             ┆          ┆        ┆ (…              ┆   ┆         ┆       ┆          ┆             │
│ 5           ┆ 0        ┆ 3      ┆ Allen, Mr.      ┆ … ┆ 8.05    ┆ null  ┆ S        ┆ Southampton │
│             ┆          ┆        ┆ William Henry   ┆   ┆         ┆       ┆          ┆             │
│ …           ┆ …        ┆ …      ┆ …               ┆ … ┆ …       ┆ …     ┆ …        ┆ …           │
│ 887         ┆ 0        ┆ 2      ┆ Montvila, Rev.  ┆ … ┆ 13.0    ┆ null  ┆ S        ┆ Southampton │
│             ┆          ┆        ┆ Juozas          ┆   ┆         ┆       ┆          ┆             │
│ 888         ┆ 1        ┆ 1      ┆ Graham, Miss.   ┆ … ┆ 30.0    ┆ B42   ┆ S        ┆ Southampton │
│             ┆          ┆        ┆ Margaret Edith  ┆   ┆         ┆       ┆          ┆             │
│ 889         ┆ 0        ┆ 3      ┆ Johnston, Miss. ┆ … ┆ 23.45   ┆ null  ┆ S        ┆ Southampton │
│             ┆          ┆        ┆ Catherine Hele… ┆   ┆         ┆       ┆          ┆             │
│ 890         ┆ 1        ┆ 1      ┆ Behr, Mr. Karl  ┆ … ┆ 30.0    ┆ C148  ┆ C        ┆ Cherbourg   │
│             ┆          ┆        ┆ Howell          ┆   ┆         ┆       ┆          ┆             │
│ 891         ┆ 0        ┆ 3      ┆ Dooley, Mr.     ┆ … ┆ 7.75    ┆ null  ┆ Q        ┆ Queenstown  │
│             ┆          ┆        ┆ Patrick         ┆   ┆         ┆       ┆          ┆             │
└─────────────┴──────────┴────────┴─────────────────┴───┴─────────┴───────┴──────────┴─────────────┘

## 9) Reshaping: Pivot and Unpivot

Compute a **survival rate** table by `sex and pclass`.

We then pivot it (equivalent to pivot_wide), then unpivot it back (pivot long).

In [11]:
# First, we make a summary table of survival rate by sex and pclass
survival = (
    titanic.group_by(["sex","pclass"])
           .agg(pl.col("survived").mean().alias("survival_rate"))
).sort(['pclass','sex'])
survival

shape: (6, 3)
┌────────┬────────┬───────────────┐
│ sex    ┆ pclass ┆ survival_rate │
│ ---    ┆ ---    ┆ ---           │
│ str    ┆ i64    ┆ f64           │
╞════════╪════════╪═══════════════╡
│ female ┆ 1      ┆ 0.968085      │
│ male   ┆ 1      ┆ 0.368852      │
│ female ┆ 2      ┆ 0.921053      │
│ male   ┆ 2      ┆ 0.157407      │
│ female ┆ 3      ┆ 0.5           │
│ male   ┆ 3      ┆ 0.135447      │
└────────┴────────┴───────────────┘

In [12]:
# arguments:
# on is the column name that contains the values that will become column headings
survival_pivot = survival.pivot(
        on="pclass",
        index="sex",
        values="survival_rate"
        )
survival_pivot

shape: (2, 4)
┌────────┬──────────┬──────────┬──────────┐
│ sex    ┆ 1        ┆ 2        ┆ 3        │
│ ---    ┆ ---      ┆ ---      ┆ ---      │
│ str    ┆ f64      ┆ f64      ┆ f64      │
╞════════╪══════════╪══════════╪══════════╡
│ female ┆ 0.968085 ┆ 0.921053 ┆ 0.5      │
│ male   ┆ 0.368852 ┆ 0.157407 ┆ 0.135447 │
└────────┴──────────┴──────────┴──────────┘

In [13]:
# unpivot is like pivot_longer
# on takes a list of column names that will be unpivoted
survival_long = survival_pivot.unpivot(on=['1','2','3'], index = "sex", variable_name="pclass", value_name="survival_rate")
survival_long

shape: (6, 3)
┌────────┬────────┬───────────────┐
│ sex    ┆ pclass ┆ survival_rate │
│ ---    ┆ ---    ┆ ---           │
│ str    ┆ str    ┆ f64           │
╞════════╪════════╪═══════════════╡
│ female ┆ 1      ┆ 0.968085      │
│ male   ┆ 1      ┆ 0.368852      │
│ female ┆ 2      ┆ 0.921053      │
│ male   ┆ 2      ┆ 0.157407      │
│ female ┆ 3      ┆ 0.5           │
│ male   ┆ 3      ┆ 0.135447      │
└────────┴────────┴───────────────┘


## 11) Lazy Optimizations (Predicate/Projection Pushdown)

In [14]:
# Lazy scan of the CSV file
titanic_lazy = pl.scan_csv("titanic.csv")

lazy_query = (
  titanic_lazy
  .select(["survived","pclass","sex","fare"])
  .filter((pl.col("fare") > 30) & (pl.col("pclass") <= 2))
)

In [15]:
lazy_query # reveals Polars plan to run the query

In [16]:
lazy_query.collect()

shape: (193, 4)
┌──────────┬────────┬────────┬──────────┐
│ survived ┆ pclass ┆ sex    ┆ fare     │
│ ---      ┆ ---    ┆ ---    ┆ ---      │
│ i64      ┆ i64    ┆ str    ┆ f64      │
╞══════════╪════════╪════════╪══════════╡
│ 1        ┆ 1      ┆ female ┆ 71.2833  │
│ 1        ┆ 1      ┆ female ┆ 53.1     │
│ 0        ┆ 1      ┆ male   ┆ 51.8625  │
│ 1        ┆ 2      ┆ female ┆ 30.0708  │
│ 1        ┆ 1      ┆ male   ┆ 35.5     │
│ …        ┆ …      ┆ …      ┆ …        │
│ 1        ┆ 1      ┆ female ┆ 39.4     │
│ 1        ┆ 1      ┆ female ┆ 164.8667 │
│ 0        ┆ 1      ┆ male   ┆ 50.4958  │
│ 1        ┆ 1      ┆ female ┆ 52.5542  │
│ 1        ┆ 1      ┆ female ┆ 83.1583  │
└──────────┴────────┴────────┴──────────┘

In [17]:
lazy_query2 = (
    titanic_lazy
    .filter(pl.col("age").is_not_null())
    .with_columns(
        (pl.col("age") >= 18).alias("adult"),
    )
    .group_by(["pclass", "sex"])
    .agg(
        survival_rate = pl.col("survived").mean(),
        avg_age       = pl.col("age").mean(),
        avg_fare      = pl.col("fare").mean(),
        prop_adult    = pl.col("adult").mean(),
        n             = pl.len()
    )
    .sort(["pclass", "sex"])
)

In [18]:
lazy_query2.collect()

shape: (6, 7)
┌────────┬────────┬───────────────┬───────────┬────────────┬────────────┬─────┐
│ pclass ┆ sex    ┆ survival_rate ┆ avg_age   ┆ avg_fare   ┆ prop_adult ┆ n   │
│ ---    ┆ ---    ┆ ---           ┆ ---       ┆ ---        ┆ ---        ┆ --- │
│ i64    ┆ str    ┆ f64           ┆ f64       ┆ f64        ┆ f64        ┆ u32 │
╞════════╪════════╪═══════════════╪═══════════╪════════════╪════════════╪═════╡
│ 1      ┆ female ┆ 0.964706      ┆ 34.611765 ┆ 107.946275 ┆ 0.905882   ┆ 85  │
│ 1      ┆ male   ┆ 0.39604       ┆ 41.281386 ┆ 71.142781  ┆ 0.960396   ┆ 101 │
│ 2      ┆ female ┆ 0.918919      ┆ 28.722973 ┆ 21.95107   ┆ 0.837838   ┆ 74  │
│ 2      ┆ male   ┆ 0.151515      ┆ 30.740707 ┆ 21.113131  ┆ 0.888889   ┆ 99  │
│ 3      ┆ female ┆ 0.460784      ┆ 21.75     ┆ 15.875369  ┆ 0.656863   ┆ 102 │
│ 3      ┆ male   ┆ 0.150198      ┆ 26.507589 ┆ 12.162695  ┆ 0.83004    ┆ 253 │
└────────┴────────┴───────────────┴───────────┴────────────┴────────────┴─────┘